@charset "utf-8";

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

a {
	color: #000;
	text-decoration: none;
}

ul,li,ol,dd,dt,dl {
	list-style: none;
}

div.wrapper {
	width: 100%;
}

/*
div.container-header
{
	width: 1200px;
	margin: 0 auto;
}
*/

.container-header {
	width: 100%;
	height: 80px;
	clear: both;
	padding: 15px 0px;
}


.container-header,
.container-footer,
.container-path,
.container-article {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
}


.container-header h1 {
	float: left;
}

.container-header nav {
	float: right;
	font-size: 13px;
}

.container-header nav >  ul >  li > a {
	display: none;
	width: 0px;
	height: 0px;
}

.container-header nav > ul > li > ul {
	clear: both;
}

.container-header nav > ul > li > ul > li {
	height: 35px;
	line-height: 35px;
	padding: 0px 15px;
	float: left;
	position: relative;
}

.container-header nav > ul > li > ul > li > ul {
	width: 200px;
	display: none;
	position: absolute;
	top:35px;
	right: 0px;
	background:  #fff;
	color: #ccc;
	padding-top: 5px;
}

.container-header nav > ul > li > ul > li:hover {
	background: #333;
}

.container-header nav > ul > li > ul > li:hover ul {
	display: block;
}
.container-header nav > ul > li > ul > li:hover a {
	color: #ccc;
}
.container-header nav > ul > li > ul > li > ul > li {
	line-height: 170%;
	padding-left: 15px;
	padding-right: 15px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.container-header nav > ul > li > ul > li > ul > li:first-child {
	border-top: 1px solid #ccc;
	padding-top: 15px;
}
.container-header nav > ul > li > ul > li > ul > li:last-child {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}
.container-header nav > ul > li > ul > li > ul > li:hover a {
	color: #000
}

.path {
	background: #eee;
	padding: 10px 0px;
}

section.list .contents-list ul {
	width: 100%;
	clear: both;
	overflow: hidden;
}

section.list .contents-list ul li {
	display: block;
	width: 25%;
	height: 250px;
	float: left;
	padding: 1px solid #ccc;
	background: #eee;
}

section.list .contents-list > ul > li > div {
	display: none;
	height: 100%;
	width: 100%;
	background: #ccc;
	position: relative;
}

section.list .contents-list > ul > li:hover > div {
	display: block;
}

section.list .contents-list > ul > li > div > div {
	position: absolute;
}

section.list .contents-list > ul > li > div > .summary {
	padding: 15px;
	line-height: 150%;
}

section.list .contents-list > ul > li > div > .date {
	bottom: 0px;
	line-height: 100% !important;
	padding: 10px;
}

section.article {
	background: #efefef;
}

section.article .contents {
	padding-left: 300px;
	padding-bottom: 150px;
	clear: both;
	position: relative;
}

section.article .contents .contents-header {
	width: 270px;
	position: absolute;
	margin-left: -300px;
	padding-top: 30px;
	top: 0px;
	color: #fff;
	text-align: right;
}

section.article .contents .contents-body {
	background: #fff;
	padding: 30px;
}

section.article .contents .box-article {
	margin-bottom: 30px;
}

footer {
	background: #eee;
}